.window{
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;
}

.box{
  width: 33vw;
  height: 33vh;
  background: darkgray;
  position: flex;
  justify-content: center;
  align-items: center;

.text{
  width:45vw;
  height: auto;
  
}


}
#O {
  font-size: 150px;
  text-align: center;
}
#X {
  font-size: 150px;
  text-align: center;
}
